@font-face {
    font-family: LEMONMILK-Regular;
    src: url("LEMONMILK-Regular.otf");
}

input::placeholder{
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: LEMONMILK-Regular;
}

.box{
    margin: auto;
    position: absolute;
    width: 350px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: white;
    background-color: rgb(61, 61, 61, 0.3);
    border: 1px solid rgb(43, 43, 43, 0.5);
    border-radius: 10px;
    padding: 50px;
    text-align: center;

    backdrop-filter:
        blur(15px);
        saturate(1000%);
}

body {
  background-color: #151515;
}

.button {
    padding: 5px 75px;
}

.button:hover{
    background-color: rgb(7, 7, 7, 0.5);
    color: #c4c4c4
}

input{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15, 0.5);
    border-color: #070707;
}