@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

*{margin:0;padding:0}

html{scroll-behavior: smooth;}

body {
  background-color: rgb(236, 240, 241);
  color: rgb(33, 33, 33);
  font-family: 'Roboto Mono', monospace;
  text-shadow: 7px 3px 25px rgba(33,33,33,.1);
  margin-top: 10vh; margin-left: 10vw; margin-right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 2vh;
}

.glass {
    color: rgba(33, 33, 33,.4);
}

#date {
  margin-left: auto;
  text-decoration: underline;
}

.cards, .sub_title {
  display: flex;
}

.sub_title {
  align-items: center;
}

.cards {
  gap: 5vw;
  justify-content: center;
  max-width: 80vw;
}

.div_card:hover {
  background-color: rgba(33,33,33,.2);
  width: 50vw;
  height: 50vh;
  transition: 750ms ease-out;
  filter: invert(0%);
  box-shadow: inset -7px -3px 25px 0 rgba(255,255,255,1);
  box-shadow: inset 7px 3px 25px 0 rgba(255,255,255,1);
}

.inv{
  mix-blend-mode: difference;
}

.inv:hover {
  mix-blend-mode: normal;
}

.card {
  height: 100%; width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
  transition: 500ms ease-out;
  background-position: center center;
  border-radius: 5px;
  background-size: cover;
}

#card1{
  background-image: url("https://media4.giphy.com/media/EcY6JTTJRUstWKbCBY/giphy.gif");
}

#card2{
  background-image: url("https://media1.giphy.com/media/zNu0KvSDtMRZbOGAbg/giphy.gif?cid=ecf05e47o2xbq2ir3ecpv22z67096yezskjwr8lmb6qvdcow&rid=giphy.gif&ct=g");
}

#card3{
  background-image: url("https://media1.giphy.com/media/ymFEh69edBBrmf7m7m/giphy.gif");
}

#card4{
  background-image: url("https://media4.giphy.com/media/n32RiWt7qXwq6K2wEL/giphy.gif");
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover{
  opacity: 100%;
  transition: 1s ease-out;
}

.div_card {
  text-decoration: none;
  width: 15vw;
  height: 50vh;
  border: solid 1px rgba(33,33,33,.2);
  border-radius: 10px;
  transition: .5s ease-out;
  color: rgb(236, 240, 241);
  box-shadow: 7px 3px 25px 0 rgba(33,33,33,.05);
  box-shadow: -7px -3px 25px 0 rgba(33,33,33,.05);
  filter: invert(100%);
}

.about {
  margin-top: 25vh;
  display: grid;
  grid-template-areas: 
    "heading1 heading2 heading3"
    "text1 text2 text3";
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.about > #heading1 {grid-area: heading1}
.about > #heading2 {grid-area: heading2}
.about > #heading3 {grid-area: heading3}
.about > #text1 {grid-area: text1}
.about > #text2 {grid-area: text2}
.about > #text3 {grid-area: text3}

.heading {
  margin-bottom: 2vh
}

.text {
  font-size: 150%;
  text-align: left;
  margin-left: 5vw;
}

li {
  margin: 2vw;
  list-style: none;
  font-weight: 200;
}

footer {
  margin-top: 5vh;
  height: 20vh;
  max-height: 100px;
  width: 80vw;
  border-top: solid 1px rgb(33,33,33);
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: rgb(33,33,33);
  transition: 600ms ease-out;
}

.link:hover {
  text-decoration: underline;
  filter: invert(40%);
}

@media screen and (max-width: 950px) {
  .cards {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .div_card {
    width: 75vw;
    height: 50vh;
    color: rgb(236, 240, 241);
    filter: invert(100%);
  }

  .div_card:hover {
    background-color: rgba(33,33,33,.2);
    width: 100%;
    height: 60vh;
    transition: 750ms ease-out;
    filter: invert(100%);
  }
  
  .card {
    opacity: 100%;
    background-size: cover;
   }
  
  .about{
    display: flex;
    flex-direction: column;
  }
  
  .text {
    margin-bottom: 15vh;
  }
  
  li {
    margin-left: 10vh;
  }
  
  footer {
    gap: 3vw;
  }
}

